.card-side {
    border: 1px solid #75CFF0;
    padding: 16px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #75CFF0;
}

.card-side:hover {
    background-color: #75CFF0;
    color: white;
}

.card-side.active {
    background-color: #75CFF0;
    color: white; 
}