/* NavBar */

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
}

.navbar-dark .navbar-nav .active {
    color: orangered !important;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(60, 151, 255);
    font-weight: bold;
}

.carousel-card {
    width: 400px;
}

.carousel-indicators li {
    background-color: #8c2a2a;
}

.carousel-in {
    display: flex;
}

.wrapper {
    width: auto;
    margin-left: 0;
    transition: all 0.5s ease-in-out;
}